/* styles for navbar */
.navbar {
  font-family: "Poppins", Verdana, sans-serif;
}

/* styles for lead image+caption container */
.lead-image-container {
  color: white;
  padding: 15px 0;
  position: relative;
}

/* styles for headline+byline container */
.headbyline {
  left: 15%;
  position: absolute;
  text-align: center;
  top: 42%;
  width: 70%;
}

/* styles for headline */
#headline {
  font-family: "Poppins", Verdana, sans-serif;
  font-size: 2.7em;
  font-weight: 700;
}

/* styles for byline */
#byline {
  font-family: "Poppins", Verdana, sans-serif;
  font-size: 1.2em;
  margin-top: 30px;
}

/* styles for story text */
p {
  font-family: Garamond, Georgia, serif;
  font-size: 1em;
  line-height: 160%;
  padding-bottom: 3px;
}

/* styles for subheadings */
.subheading {
  font-family: "Poppins", Verdana, sans-serif;
  font-size: 1.7em;
  font-weight: 700;
  margin: 30px 0 20px;
}

/* styles for image+caption containers */
.image-container {
  padding: 20px 0;
}

/* styles for images */
img {
  width: 100%;
}

/* styles for image captions */
.caption {
  color: grey;
  font-family: "Poppins", Verdana, sans-serif;
  font-size: 0.8em;
  text-align: left;
}

/* styles for pull quote */
blockquote {
  line-height: 200%;
  margin: 20px 200px 30px;
  text-align: center;
}

/* styles for giant quote mark */
.bi-quote {
  color: #007bff;
  font-size: 3.2em;
}

/* styles for quote text */
.quote {
  font-family: "Poppins", Verdana, sans-serif;
  font-size: 1.5em;
}

/* styles for quote credit */
.quote-credit {
  color: grey;
  font-family: "Poppins", Verdana, sans-serif;
  font-size: 1em;
  padding-top: 5px;
}

/* styles for sidebar row */
#sidebar-row {
  margin: 30px 0;
}

/* styles for flourish globe column on left */
#flourish-globe {
  padding-left: 0;
}

/* styles for sidebar column on right */
#globe-sidebar {
  background-color: #cee5ff;
  padding: 15px 20px;
  text-align: left;
}

/* styles for sidebar header text */
.sidebar-header {
  color: #04345C;
  font-family: "Poppins", Verdana, sans-serif;
  font-size: 1.5em;
}

/* styles for sidebar byline text */
.sidebar-byline {
  font-style: italic;
}

/* styles for horizontal divider */
#divider {
  border-top: 4px solid #007bff;
  margin-top: 30px;
  opacity: 1;
}

/* styles for more reads section */
#more-reads {
  background-color: #cee5ff;
  font-family: Garamond, Georgia, serif;
  font-size: 1.1em;
  margin: 40px 0;
  padding: 20px;
}

/* styles for more reads title */
.reads-header {
  color: #04345C;
  font-family: "Poppins", Verdana, sans-serif;
  font-size: 1.4em;
}

/* styles for footer container */
.footer {
  background-color: #007bff;
}

/* styles for footer text; height will expand with text */
.footer-text p {
  color: white;
  font-family: "Poppins", Verdana, sans-serif;
  font-size: 1em;
  margin: 15px 0;
  text-align: center;
}

/*styles for full-width Flourish charts */
.flourish-photo-slider, .flourish-chart {
  margin: 30px 0;
}

/* styles for video+caption container */
.video-container {
  padding: 20px 0;
}

/* styles for embedded YouTube video, code provided by Hyon-Young Kim */
.embed-container {
  height: 0;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

/* styles for embedded YouTube iframe, code provided by Hyon-Young Kim */
.embed-container iframe, .embed-container object, .embed-container embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* styles for screens smaller than 1200px */
@media screen and (max-width: 1199px) {
  
  /* styles for headline+byline container - move up */
  .headbyline {
    top: 40%;
  }
  
  /* styles for pull quote - make wider */
  blockquote {
    margin: 20px 100px 30px;
  }
  
  /* styles for text in sidebar column on right - make smaller */
  #globe-sidebar p {
    font-size: 0.9em;
  }
}

/* styles for screens smaller than 992px */
@media screen and (max-width: 991px) {
  
  /* styles for headline+byline container - move up */
  .headbyline {
    top: 35%;
  }
  
  /* styles for headline - make font smaller+lighter */
  #headline {
    font-size: 2.3em;
    font-weight: 600;
  }
  
  /* styles for byline - make font smaller */
  #byline {
    font-size: 1.1em;
  }
  
  /* styles for row with animal pics - reduce top/bottom padding in inline view */
  #animal-pics {
    padding: 10px 0;
  }
  
  /* styles for image+caption containers - reduce top/bottom padding */
  .image-container {
    padding: 5px 0;
  }
  
  /* styles for pull quote - make wider */
  blockquote {
    margin: 20px 50px 30px;
  }
  
  /* styles for sidebar column on right - add top/bottom margins in inline view */
  #globe-sidebar {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  /* styles for flourish globe column on left - reduce right padding in inline view */
  #flourish-globe {
    padding-right: 0;
  }
  
  /* styles for sidebar header text */
  .sidebar-header {
    font-size: 1.3em;
  } 
  
  /* styles for more reads section - make font smaller */
  #more-reads {
    font-size: 1em;
  }
  
  /* styles for more reads title - make font smaller */
  .reads-header {
    font-size: 1.3em;
  }
}

/* styles for screens smaller than 768px */
@media screen and (max-width: 767px) {
  
  /* styles for lead image - adjust width to match container below */
  .opening-image {
     max-width: 540px;
  }
  
  /* styles for lead image+caption container - change to black text */
  .lead-image-container {
    color: black;
  }
  
  /* styles for headline+byline container - move below image */
  .headbyline {
    left: 0;
    position: relative;
    text-align: left;
    width: 100%;
  }
  
  /* styles for headline - make font smaller */
  #headline {
    font-size: 2em;
  }
  
  /* styles for byline - make font smaller */
  #byline {
    font-size: 1.1em;
    margin-top: 10px;
  }
  
  /* styles for subheadings - make font smaller+lighter */
  .subheading {
    font-size: 1.5em;
    font-weight: 600;
  }
  
  /* styles for pull quote - make wider */
  blockquote {
    margin: 20px 30px 30px;
  }
  
  /* styles for giant quote mark - make smaller */
  .bi-quote {
    font-size: 2.6em;
  }
  
  /* styles for quote text - make font smaller */
  .quote {
    font-size: 1.3em;
  }
  
  /* styles for quote credit - make font smaller */
  .quote-credit {
    font-size: 0.9em;
  }
}
