/* styles for my resume */

/* default body font */
body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 1em;
  color: #444;
}
/* banner name at top */
h1 {
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
}
/* my title */
strong {
  font-size: 1.5em;
  color: #33485e;
  text-transform: uppercase;
}

/* section titles */
h2 {
  font-size: 1.5em;
  color: white;
  text-transform: uppercase;
  background-color: #33485e;
  font-weight: 400;
}

/* job title */
h3 {
  font-size: 1.5em;
  font-weight: 600;
}

/* job organization */
h4 {
  font-size: 1.5em;
  font-weight: 400;
  font-style: italic;
}

/* job dates */
h5 {
  font-size: 1em;
  font-weight: 700;
}

/* contact info */
ul {
    font-size: 1em;
}

