/* styles for my resume */

/* default body font */
body {
  color: #444;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1em;
}

/* container style */
#container {
  margin: 0 auto;
  max-width: 1200px;
  padding-bottom: 50px;
  width: 100%;
}

/* banner name at top */
#name {
  border-bottom: 1px solid #33485e;
  color: #33485e;
  font-size: 3em;
  margin: 0 auto;
  min-width: 300px;
  text-align: center;
  text-transform: uppercase;
  width: 60%;
}

/* my title */
#title {
  color: #33485e;
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
}

/* section headers */
.sectionheader {
  background-color: #33485e;
  color: white;
  font-size: 1.5em;
  font-weight: 400;
  margin: 20px 0px 10px;
  min-width: 300px;
  padding: 5px 0px 5px 10px;
  text-transform: uppercase;
  width: 100%;
}

/* job titles */
.jobtitle {
  font-size: 1.5em;
  font-weight: 600;
}

/* job organizations */
.organization {
  font-size: 1.2em;
  font-style: italic;
  font-weight: 400;
}

/* job dates */
.date {
  font-size: 1em;
  font-weight: 700;
  margin-top: 2px;
}

/* job descriptions */
.description {
  margin: 10px 0px 10px;
}

/* contact info, skills, education lists */
ul {
  font-size: 1em;
}

/* top menu */
ul.menu {
  margin: 10px 0px 20px;
  padding: 0px;
  text-align: center;
}

/* list items in top menu */
ul.menu li {
  display: inline;
  padding: 0px 20px;
}

/* education list */
ul#degrees {
  margin-top: 5px;
}

/* skills list */
ul#do {
  margin-top: 5px;
}

/* headshot image */
#headshot {
  border: 5px solid #33485e;
  border-radius: 50%;
  height: 150px;
  object-fit: cover;
  width: 150px;
}

/* headshot container */
#headshot-container {
  text-align: center;
}

/* unvisited links */
a:link {
  color: #0bc5f4;
  font-weight: 600;
}

/* hovering over links */
a:hover {
  color: #33485e;
}

/* visited links */
a:visited {
  color: #6e38c7;
}