/* body content */
#container {
  width: 100%;
  max-width: 1024px
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: left;
}
/* page background */
body {
  background-color: #25341c
}
/* header image/text */
#header {
  text-align: center;
}
/* fancy page title */
#page-title {
  font-family: "Alegreya SC", serif;
  font-size: 3em;
  color: #8BE039;
}
/* page dividers */
h3 {
  color: #8BE039;
  background-color: black;
  border: 1px dotted #8BE039;
  margin: 1em;
  padding: 0.5em;
}
/* italic movie titles */
.movie-title {
  font-style: italic;
}