/* body content */
#main-content {
  width: 100%;
  max-width: 1024px
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: left;
}
/* page background */
body {
  background-color: #25341c
}
/* header image/text */
#header {
  text-align: center;
}
/* fancy page title */
.page-title {
  font-family: "Alegreya SC", serif;
  font-size: 3em;
  color: #8BE039;
  font-weight: 500;
}

#page-title2 {
  opacity: 0.75;
}

#page-title3 {
  opacity: 0.5;
}

/* page dividers */
h3 {
  color: #8BE039;
  background-color: rgba(0,0,0,0.4);
  border: 1px dotted white;
  margin: 1em;
  padding: 0.5em;
  border-radius: 10px;
}

/* italic movie titles */
.movie-title {
  font-style: italic;
}