/* styles for main content */
#content {
  margin: 0 auto;
  width: 900px; 
} 

/* styles for masthead */
#masthead {
  width: 100%;
}

/* styles for headline */
h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  margin-top: 30px;
}

/* styles for byline */
#byline {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 30px;
}

/* styles for body text */
p {
  font-family: Georgia, Times, serif;
  font-size: 13px;
}

/* styles for horizontal divider */
hr {
  border-top: 8px solid #5885AF;
  margin-top: 30px;
  opacity: 1;
}

/* styles for all images */
img {
  width: 100%;
}

/* styles for image captions */
.caption {
  color: grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-style: italic;
  margin: 5px;
}

/* styles for inline images */
.image-container {
  padding: 5px 20px;
  margin-top: 20px;
}

/* styles for pull quote */
blockquote {
  border-left: 8px solid #5885AF;
  color: #274472;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-style: italic;
  margin: 25px 100px;
  padding: 15px;
}

/* styles for pull quote credit */
.quote-credit {
  color: #5885AF;
  font-style: normal;
  text-align: right;
}

/* styles for read more section */
#read-more {
  background-color: #C3E0E5;
  padding: 10px 20px;
  margin-top: 30px;
}

/* styles for read more header */
h3 {
  color: #274472;  
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
}

/* styles for read more links */
ul {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

