/* styles for main content */
#content {
  margin: 0 auto;
  width: 900px; 
} 

/* styles for masthead */
#masthead {
  width: 100%;
}

/* styles for headline */
h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  margin-top: 30px;
}

/* styles for byline */
#byline {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 30px;
}

/* styles for body text */
p {
  font-family: Georgia, Times, serif;
  font-size: 13px;
}

/* styles for all images */
img {
  width: 100%;
}

/* styles for image captions */
.caption {
  color: grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: italic;
  margin-top: 3px;
}

/* styles for inline images */
.image-container {
  padding: 5px 20px;
  margin-top: 20px;
}

/* styles for pull quote */
blockquote {
  border-bottom: 5px solid #5885AF;
  border-top: 5px solid #5885AF;
  color: #274472;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  height: 150px;
  margin: 25px 100px;
  padding: 0 20px;
}

/* styles for pull quote quotation mark */
.quote-mark {
  color: #274472;
  font-family: Georgia, Times, serif;
  font-size: 100px;
  position: absolute;
}

/* styles for quote itself */
.quote {
  font-style: italic;
  margin-bottom: 20px;
  position: relative;
  top: 60px;
}

/* styles for pull quote credit */
.quote-credit {
  color: #5885AF;
  font-style: normal;
  text-align: right;
  position: relative;
  top: 55px;
}

/* styles for read more section */
#read-more {
  background-color: #C3E0E5;
  border-top: 5px solid #5885AF;
  padding: 5px 20px 10px;
  margin: 30px 0;
}

/* styles for read more header */
h3 {
  color: #274472;  
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
}

/* styles for read more links */
ul {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

