/* styles for main content */
#content {
  margin: 0 auto;
  width: 900px; 
} 

/* styles for masthead */
#masthead {
  width: 100%;
}

/* styles for main headline */
h1 {
  font-family: Garamond, Georgia, serif;
  font-size: 32px;
  margin-top: 20px;
}

/* styles for byline */
#byline {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 25px;
}

/* styles for subheadings */
.subhead {
  font-family: Garamond, Georgia, serif;
  font-size: 24px;
}

/* styles for body text */
p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}