/* styles for main content */
#content {
  margin: 0 auto;
  width: 900px; 
} 

/* styles for all images */
img {
  width: 100%;
}

/* styles for all images/chart divs */
.image {
  position: relative;
}

/* styles for inline images */
.inline {
  margin: 30px 40px;
}

/* styles for inline chart */
#chart {
  margin: -15px 40px 25px;
}

/* styles for all captions */
.caption {
  background-color: #3B0918; 
  bottom: 7px;
  color: #FFF3D9;
  font-style: italic;
  left: 10px;
  margin-top: 2px;
  opacity: 0.9;
  padding: 5px;
  position: absolute;
}

/* styles for lead image captions */
#caption-lead {
  right: 25px; 
}

/* styles for chart captions */
#chart-caption {
  background-color: transparent;
  bottom: -12px; 
  color: #3B0918; 
}

/* styles for main headline */
h1 {
  color: #3B0918;
  font-family: Garamond, Georgia, serif;
  font-size: 34px;
  margin: 30px 0 10px;
}

/* styles for byline */
#byline {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 30px;
}

/* styles for subheadings */
.subhead {
  color: #3B0918;
  font-family: Garamond, Georgia, serif;
  font-size: 26px;
  margin: 30px 0 20px;
}

/* styles for body text */
p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

/* styles for blockquote section */
blockquote {
  padding: 1px 80px;
}

/* styles for quote text */
#quote {
  border-left: ridge 10px #DC4731;
  border-top: ridge 10px #DC4731;
  color: #3B0918;
  font-family: Garamond, Georgia, serif;
  font-size: 20px;
  font-style: italic;
  padding: 20px 0 5px 20px;
}

/* styles for quote credit */
#credit {
  border-bottom: groove 10px #DC4731;
  border-right: groove 10px #DC4731;
  color: #B8390E;
  font-family: Garamond, Georgia, serif;
  font-size: 20px;
  padding: 5px 20px 20px 0;
  text-align: right;
}

/* styles for related items section */
#related-items {
  border-top: ridge 10px #DC4731;
  background-color: #FFF3D9;
  margin: 30px 0;
  padding: 5px 30px 10px;
}

/* styles for related items header */
h3 {
  color: #3B0918;
  font-family: Garamond, Georgia, serif;
  font-size: 20px;
}

/* styles for related items list */
ul {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

/* unvisited links */
a:link {
  color: #B8390E;
  font-weight: 500;
}

/* hovering over links */
a:hover {
  color: #DC4731;
}

/* visited links */
a:visited {
  color: #67102A;
}